<div class="col-xs-6 col-xs-offset-3">
<h1> Update User info</h1>

<%= bootstrap_form_for @user do |f| %>
	<div><%= f.text_field :first_name, placeholder: 'First Name' %>
	</div>
	<div>
		<%= f.text_field :last_name, placeholder: 'Last Name' %>
	</div>
	<div>
		<%= f.email_field :email, placeholder: 'Email (username)' %>

	</div>
	<div>
	 	<%= f.collection_select :current_city, @cities, :city, :city, :prompt => "Select City..."%>
	</div>
	<div>
	 	<%= f.text_field :picture, placeholder: 'Picture Link' %>
	</div>
	<hr>
	<h4>Optional</h4>
	<div>
		<%= f.password_field :password, placeholder: 'Password' %>
	</div>
	<div>
		<%= f.password_field :password_confirmation, placeholder: 'Confirm Password' %>

	</div>
	<div>
		<%= f.submit "Save Changes", :class => 'btn btn-success' %>
	</div>
<% end %>
</div>