<div class="col-xs-6 col-xs-offset-3">
<div class="pagination-centered" id="sign_up"><h1> Sign Up </h1>

<%= bootstrap_form_for(@user, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
<%= f.text_field :first_name, placeholder: 'First Name' %>
	

		<%= f.text_field :last_name, placeholder: 'Last Name' %>
		<%= f.email_field :email, placeholder: 'Email (username)' %>
	 	<%= f.text_field :current_city, placeholder: 'Current City' %>
	 	<%= f.text_field :picture, placeholder: 'Picture Link' %>
		<%= f.password_field :password, placeholder: 'Password' %>
		<%= f.password_field :password_confirmation, placeholder: 'Confirm Password' %>
		<%= f.submit "Sign Up", class: "btn btn-success" %>
	
<% end %>
</div>
	</div>