<br>
<div class="container">
	<div class="row">
		<div class="col-md-4">
				<% if @user.picture == nil || @user.picture == "" %>
					<%= image_tag("yunoprofilepic.jpg", :class => "profile-image") %>
				<% else %>
					<%= image_tag(@user.picture, :class => "profile-image") %>
				<% end %>

		</div>
		<div class="col-md-8">
			<h2 class="h2profile">Welcome, <%= @user.first_name %>.  How is the weather in <%= @user.current_city %>?</h2>
				<%= button_to "Edit Profile", edit_user_path(current_user), method: :get, class: "btn btn-warning" %>
		</div>
		<div class="row">
			&nbsp;
		</div>
		<div class="row">
			<div class="container">
				<h2 class="h2profile">Your Travel Logs!</h2>
			</div>
		</div>
	<div class="row">
		<div class="col-md-12">
			<% @logs.each do |log| %>
		  		<% if log.author == @user.email %>
		    		<%= link_to "/logs/#{log.id}" do %>
		      		<h3><%= log.title %></h3>
		    	<% end %>
		    			<% @cities.each do |city| %>
		    				<% if city.city == log.city %>
					    			<%= link_to "/cities/#{city.id}" do %>
					      			<strong><%= log.city %></strong><br>
					      		<% end %>
					      <% end %>
					    <% end %>
					    Posted: <%= log.created_at.strftime("%m/%d/%Y") %><br>
					    <%= log.body %>
	  		<% end %>
		<% end %>
	</div>
</div>
