<h1>Welcome#index</h1>

<p>There are currently <%= @users.length %> signed up.</p>

<% if current_user %>
	<%= link_to "Profile", user_path(current_user), method: :get %>
	<%= link_to "Logout", logout_path, method: :delete %>
<% else %>
	<%= link_to "Signup", signup_path, method: :get %>
	<%= link_to "Login", login_path %>
<% end %>