<%= form_for @log do |f| %>
<% if @log.errors.any? %>
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
        <%= value %>
      </div>
    <% end %>
  <% end %>

  <div>
    <%= f.text_field :title, placeholder: "Title" %><br>
    <%= f.text_area :body %>
  </div>
  

    <%= f.submit "Save Changes", :class => "btn btn-success" %>

<% end %>