



  <h4><%= @log.title %></h4> <small><%= @log.author %> <%= @log.created_at %></small><br>
  <p><%= @log.body %></p>
  <%= button_to "Delete", delete_log_path, method: :delete, class: "btn btn-danger" %>
  <%= button_to "Edit", edit_log_path, method: :get, class: "btn btn-warning" %>

