
<div>
  <br>
 	Name: <%= @city.city%>
	<br>
	Population: <%= @city.population %>
	<hr>
	<%= image_tag(@city.picture) %>
  <hr>
  <%= button_to "New Log", new_log_path, method: "get", class: "btn btn-success" %>
</div>      


<% @logs.first(10).each do |log| %>
    <div>
  <% if log.city == @city.city %>
    <%= link_to "/logs/#{log.id}" do %>
      <h3><%= truncate(log.title, length: 100) %></h3><br>
  <% end %>
      <%= truncate(log.body, length: 1000) { link_to "More after the Jump", "/logs/#{log.id}" } %>
    </div>
  <% end %>
<% end %>