<div>
 	Name: <%= @city.city%>
	<br>
	Population: <%= @city.population %>
	<hr>
	<br>
	<%= image_tag(@city.picture) %>
</div>      


<% @logs.each do |log| %>
    <div>
  <% if log.city == @city.city %>

    <%= link_to(log) do %>
      <h3><%= log.title %></h3><br>
    <% end %>
      <%= log.body %>
    </div>
  <% end %>
<% end %>