<div>
  <br>
 	Name: <%= @city.city%>
	<br>
	Population: <%= @city.population %>
	<hr>
	<%= image_tag(@city.picture) %>
  <hr>
  <%= button_to "New Log", new_log_path, method: "get", class: "btn btn-success" %>
</div>      


<% @logs.each do |log| %>
    <div>
  <% if log.city == @city.city %>
    <%= link_to [@city, log] do %>
      <h3><%= log.title %></h3><br>
    <% end %>
      <%= log.body %>
    </div>
  <% end %>
<% end %>