<!DOCTYPE html>
<html>
<head>
  <title>ProjectVagabondApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
<header class="navbar navbar-inverse">
	<div class="navbar-class">
		<div class="container">
		<ul class="nav navbar-nav">
		<li class="active"><a href="#">Home</a></li>
		<li>[Insert New Post link here!]</li>
		<li>[Insert Cities link here!]</li>
		<% if current_user %>
			<li><%= link_to "Profile", user_path(current_user), method: :get %></li>
			<li><%= link_to "Edit Profile", edit_user_path(current_user), method: :get %></li>
			<li><%= link_to "Logout", logout_path, method: :delete %></li>
		<% else %>
			<li><%= link_to "Signup", signup_path, method: :get %></li>
			<li><%= link_to "Login", login_path %></li>
		<% end %>
		</ul>
	</div>
</div>
</header>
<%= yield %>

</body>
</html>
