<!DOCTYPE html>
<html>
<head>
  <title>ProjectVagabondApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <!--Needed for Tubular to work -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.1/swfobject.js"></script>
 <script type="text/javascript" src="/javascripts/jquery.tubular.js"></script>
 <script type="text/javascript" src="/javascripts/app.js"></script>
  <!--End of Tubular script loads -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
			<ul class="nav navbar-nav navbar-right">
			<li class="active"><a href="">Home <span class="sr-only">(current)</span></a></li>
			<li class="dropdown"><a class="dropdown-togggle" data-toggle="dropdown" role="button">Options<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li>[Insert New Post link here!]</li>
				<li>[Insert Cities link here!]</li>
		<% if current_user %>
				<li><%= link_to "Profile", user_path(current_user), method: :get %></li>
				<li><%= link_to "Edit Profile", edit_user_path(current_user), method: :get %></li>
				<li><%= link_to "Logout", logout_path, method: :delete %></li>
		<% else %>
				<li><%= link_to "Signup", signup_path, method: :get %></li>
				<li><%= link_to "Login", login_path %></li>
		<% end %>
			</ul>
		</li>
		</ul>
		</div>
	</div>
</nav>
<%= yield %>

</body>
</html>
